@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Roboto&display=swap');

* { font-family: 'Roboto', sans-serif; }

.container-xl {
    background-color: #ddd;
}

.backcolor {
    background-color: #bbb;
}

a:link {
    color: black;
}

a:hover {
    background-color: orange;
    color: white;
    text-decoration: none;
}

.active {
    background-color: orange;
    color: white;
    border: 1px dotted white;
}

h1 { font-family: 'Fascinate Inline', cursive; font-size: 8em; }